body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-color: #331949;
}

.bigButton {
    text-decoration: none;
    color: #331949;
    background-color: #9AC6C5;
    width: 65vw;
    padding: 1rem 0 1rem 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}

.componentDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.componentBody {
    z-index: 5;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 50vw;
    height: 25px;
}

.card {
    margin: 2rem;
    padding: 0 1rem 1rem 1rem;
    max-height: 200px;
    max-width: 200px;
    overflow-y: auto;

    border-radius: 5px;
    border: 2px solid #A5E6BA;
    background-color: #7785AC;
    color: #331949;

    display: flex;
    flex-direction: column;
}

.card h2 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card img {
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
}

/* login */
.login {
    margin: none;
    padding: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url('homebackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    overflow: hidden;
}

.rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;

    position: relative;
    top: 10rem;

    background-color: #331949eb;
    box-shadow: 5px 5px 5px #17022d5e;
    text-align: center;
    color: #9AC6C5;
}

.welcome {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 0rem;
}

.rectangle p {
    margin-bottom: 2rem;
}

.sr-only {
    color: rgba(0, 0, 0, 0);
    font-size: 1px;
}

.rectangle input {
    margin-bottom: 1rem;
}

.rectangle button {
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: #9AC6C5;
    color: #360568;
}

/*logout*/
.footer {
    position: absolute;
    bottom: 0rem;
    padding: 1rem 0 1rem 0;
    width: 100vw;

    display: flex;
    justify-content: center;

    background-color: #5B2A86;
    box-shadow: 5px -5px 5px #17022d5e;
}

.logout {

    text-decoration: none;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: #7785AC;
    color: #360568;
}

/*home*/

.homeHeader {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 15vh;
    background-image: url('rope.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    box-shadow: 5px 5px 5px #17022d5e;
}

/* packing/unpacking */
.packHeader {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 15vh;
    background-image: url('suitcase.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    box-shadow: 5px 5px 5px #17022d5e;
}

.dynamicDiv {
    border: 1px solid red;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* new event */
form {
    height: 50vh;
    width: 70vw;

    color: #9AC6C5;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.medButton {
    width: 60%;
    height: 35px;
    margin-top: 1rem;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 35px;
    text-decoration: none;

    border-radius: 5px;
    border: none;
    color: #360568;
    background-color: #9AC6C5;
}

/* error */
.error {
    color: #9AC6C5;
    font-size: 18px;
    margin: 3rem 0 0rem 0;
}

/* item scanned out */

.itemScannedOut {
    display: flex;
    flex-direction: column;
    align-items: center;
}